In [1]:
#importing the needed libaries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
weather_df = pd.read_csv("Plant_1_Weather_Sensor_Data.csv", parse_dates=['DATE_TIME'])
weather_df.head(10)

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4135001,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
1,2020-05-15 00:15:00,4135001,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2,2020-05-15 00:30:00,4135001,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
3,2020-05-15 00:45:00,4135001,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
4,2020-05-15 01:00:00,4135001,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0
5,2020-05-15 01:15:00,4135001,HmiyD2TTLFNqkNe,24.536092,21.968571,0.0
6,2020-05-15 01:30:00,4135001,HmiyD2TTLFNqkNe,24.638674,22.352926,0.0
7,2020-05-15 01:45:00,4135001,HmiyD2TTLFNqkNe,24.873022,23.160919,0.0
8,2020-05-15 02:00:00,4135001,HmiyD2TTLFNqkNe,24.936930,23.026113,0.0
9,2020-05-15 02:15:00,4135001,HmiyD2TTLFNqkNe,25.012248,23.343229,0.0

In [3]:
#Dropping the unwanted columns
weather_needed_values_df = weather_df.drop(['PLANT_ID','SOURCE_KEY' ], axis =1)
weather_needed_values_df.describe()

       AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  IRRADIATION
count          3182.000000         3182.000000  3182.000000
mean             25.531606           31.091015     0.228313
std               3.354856           12.261222     0.300836
min              20.398505           18.140415     0.000000
25%              22.705182           21.090553     0.000000
50%              24.613814           24.618060     0.024653
75%              27.920532           41.307840     0.449588
max              35.252486           65.545714     1.221652

In [4]:
#Splitting the date time values 
weather_needed_values_df['Day'] = [d.day for d in weather_needed_values_df['DATE_TIME']]
weather_needed_values_df['Month'] = [d.month for d in weather_needed_values_df['DATE_TIME']]
weather_needed_values_df['Year'] = [d.year for d in weather_needed_values_df['DATE_TIME']]
weather_needed_values_df['Time'] = [d.time() for d in weather_needed_values_df['DATE_TIME']]
weather_needed_values_df['Date'] = [d.date() for d in weather_needed_values_df['DATE_TIME']]
weather_needed_values_df

,DATE_TIME,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,Day,Month,Year,Time,Date
0,2020-05-15 00:00:00,25.184316,22.857507,0.0,15,5,2020,00:00:00,2020-05-15
1,2020-05-15 00:15:00,25.084589,22.761668,0.0,15,5,2020,00:15:00,2020-05-15
2,2020-05-15 00:30:00,24.935753,22.592306,0.0,15,5,2020,00:30:00,2020-05-15
3,2020-05-15 00:45:00,24.846130,22.360852,0.0,15,5,2020,00:45:00,2020-05-15
4,2020-05-15 01:00:00,24.621525,22.165423,0.0,15,5,2020,01:00:00,2020-05-15
...,...,...,...,...,...,...,...,...,...
3177,2020-06-17 22:45:00,22.150570,21.480377,0.0,17,6,2020,22:45:00,2020-06-17
3178,2020-06-17 23:00:00,22.129816,21.389024,0.0,17,6,2020,23:00:00,2020-06-17
3179,2020-06-17 23:15:00,22.008275,20.709211,0.0,17,6,2020,23:15:00,2020-06-17
3180,2020-06-17 23:30:00,21.969495,20.734963,0.0,17,6,2020,23:30:00,2020-06-17
3181,2020-06-17 23:45:00,21.909288,20.427972,0.0,17,6,2020,23:45:00,2020-06-17

In [5]:
a_df = pd.DataFrame(weather_needed_values_df.groupby(['Day','Month' ]).mean().reset_index())
a_df.head()

   Day  Month  AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  IRRADIATION  Year
0    1      6            24.779514           28.961083     0.183846  2020
1    2      6            24.374920           29.448151     0.223788  2020
2    3      6            24.795672           29.998063     0.230818  2020
3    4      6            25.286176           31.221625     0.256989  2020
4    5      6            24.870622           30.582565     0.241590  2020

In [6]:
a = weather_needed_values_df['Date'].unique()
b = pd.DataFrame(a)

In [7]:
weather_needed_values_df = weather_needed_values_df[weather_needed_values_df.IRRADIATION != 0.0]

weather_needed_values_df.head(10)

,DATE_TIME,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,Day,Month,Year,Time,Date
23,2020-05-15 05:45:00,24.289211,23.096692,0.000863,15,5,2020,05:45:00,2020-05-15
24,2020-05-15 06:00:00,24.088446,22.206757,0.005887,15,5,2020,06:00:00,2020-05-15
25,2020-05-15 06:15:00,24.011635,22.353459,0.022282,15,5,2020,06:15:00,2020-05-15
26,2020-05-15 06:30:00,23.976731,22.893282,0.049410,15,5,2020,06:30:00,2020-05-15
27,2020-05-15 06:45:00,24.218990,24.442444,0.095394,15,5,2020,06:45:00,2020-05-15
28,2020-05-15 07:00:00,24.537398,27.185653,0.141940,15,5,2020,07:00:00,2020-05-15
29,2020-05-15 07:15:00,24.815960,28.888478,0.154713,15,5,2020,07:15:00,2020-05-15
30,2020-05-15 07:30:00,24.988790,29.605644,0.148799,15,5,2020,07:30:00,2020-05-15
31,2020-05-15 07:45:00,25.216180,29.547111,0.144793,15,5,2020,07:45:00,2020-05-15
32,2020-05-15 08:00:00,25.419513,31.412545,0.201639,15,5,2020,08:00:00,2020-05-15

In [8]:
sorted_a_df = a_df.sort_values(by=['Month', 'Day']).reset_index()
print(sorted_a_df)

    index  Day  Month  AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  IRRADIATION  \
0      14   15      5            27.430823           32.582964     0.204699
1      16   16      5            26.780538           31.858851     0.211951
2      18   17      5            26.686727           32.740435     0.238869
3      20   18      5            23.850938           27.814344     0.159026
4      21   19      5            25.338021           29.725163     0.194031
5      22   20      5            25.076782           29.332088     0.228069
6      23   21      5            27.737575           37.186870     0.346414
7      24   22      5            26.526703           32.478885     0.230408
8      25   23      5            26.839617           34.801843     0.290074
9      26   24      5            27.625116           33.978544     0.259762
10     27   25      5            27.210157           34.533963     0.283681
11     28   26      5            26.904455           33.473154     0.252610
12     29   27      5            26.835469           32.420288     0.213933
13     30   28      5            26.766278           33.503174     0.271171
14     31   29      5            26.403786           36.304638     0.313869
15     32   30      5            24.991223           30.816012     0.227865
16     33   31      5            25.472600           30.160713     0.183599
17      0    1      6            24.779514           28.961083     0.183846
18      1    2      6            24.374920           29.448151     0.223788
19      2    3      6            24.795672           29.998063     0.230818
20      3    4      6            25.286176           31.221625     0.256989
21      4    5      6            24.870622           30.582565     0.241590
22      5    6      6            24.247355           28.802772     0.203405
23      6    7      6            25.016090           31.497892     0.254191
24      7    8      6            25.441268           31.621923     0.263703
25      8    9      6            25.545736           31.515744     0.257861
26      9   10      6            24.752468           29.202542     0.200336
27     10   11      6            24.403410           27.880257     0.161809
28     11   12      6            24.072379           27.585834     0.169808
29     12   13      6            24.566729           30.481026     0.264472
30     13   14      6            24.412891           29.421707     0.220086
31     15   15      6            24.827414           29.927817     0.205925
32     17   16      6            24.928929           29.555567     0.187283
33     19   17      6            24.229728           28.374543     0.176964

    Year
0   2020
1   2020
2   2020
3   2020
4   2020
5   2020
6   2020
7   2020
8   2020
9   2020
10  2020
11  2020
12  2020
13  2020
14  2020
15  2020
16  2020
17  2020
18  2020
19  2020
20  2020
21  2020
22  2020
23  2020
24  2020
25  2020
26  2020
27  2020
28  2020
29  2020
30  2020
31  2020
32  2020
33  2020

In [9]:
final_df = pd.concat([ sorted_a_df, b], axis = 1)

In [10]:
final_df.head(10)

,index,Day,Month,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,Year,0
0,14,15,5,27.430823,32.582964,0.204699,2020,2020-05-15
1,16,16,5,26.780538,31.858851,0.211951,2020,2020-05-16
2,18,17,5,26.686727,32.740435,0.238869,2020,2020-05-17
3,20,18,5,23.850938,27.814344,0.159026,2020,2020-05-18
4,21,19,5,25.338021,29.725163,0.194031,2020,2020-05-19
5,22,20,5,25.076782,29.332088,0.228069,2020,2020-05-20
6,23,21,5,27.737575,37.186870,0.346414,2020,2020-05-21
7,24,22,5,26.526703,32.478885,0.230408,2020,2020-05-22
8,25,23,5,26.839617,34.801843,0.290074,2020,2020-05-23
9,26,24,5,27.625116,33.978544,0.259762,2020,2020-05-24

In [11]:
final_df.to_csv("Solar1_cleaned.csv")

PermissionError: [Errno 13] Permission denied: 'Solar1_cleaned.csv'