<a href="https://colab.research.google.com/github/A-Wadhwani/ME597-Project/blob/main/Power_gen1_process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [3]:
data = pd.read_csv('Datasets/Solar Power/Plant_1_Generation_Data.csv')
data=pd.DataFrame(data)
data.head(20)

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0
5,15-05-2020 00:00,4135001,VHMLBKoKgIrUVDU,0.0,0.0,0.0,7206408.0
6,15-05-2020 00:00,4135001,WRmjgnKYAwPKWDb,0.0,0.0,0.0,7028673.0
7,15-05-2020 00:00,4135001,ZnxXDlPa8U1GXgE,0.0,0.0,0.0,6522172.0
8,15-05-2020 00:00,4135001,ZoEaEvLYb1n2sOq,0.0,0.0,0.0,7098099.0
9,15-05-2020 00:00,4135001,adLQvlD726eNBSB,0.0,0.0,0.0,6271355.0
10,15-05-2020 00:00,4135001,bvBOhCH3iADSZry,0.0,0.0,0.0,6316803.0
11,15-05-2020 00:00,4135001,iCRJl6heRkivqQ3,0.0,0.0,0.0,7177992.0
12,15-05-2020 00:00,4135001,ih0vzX44oOqAx2f,0.0,0.0,0.0,6185184.0
13,15-05-2020 00:00,4135001,pkci93gMrogZuBj,0.0,0.0,0.0,7169102.0
14,15-05-2020 00:00,4135001,rGa61gmuvPhdLxV,0.0,0.0,0.0,7111493.0
15,15-05-2020 00:00,4135001,sjndEbLyjtCKgGv,0.0,0.0,0.0,7016832.0
16,15-05-2020 00:00,4135001,uHbuxQJl8lW7ozc,0.0,0.0,0.0,7038681.0
17,15-05-2020 00:00,4135001,wCURE6d3bPkepu2,0.0,0.0,0.0,6782598.0
18,15-05-2020 00:00,4135001,z9Y9gH1T5YWrNuG,0.0,0.0,0.0,7007866.0
19,15-05-2020 00:00,4135001,zBIq5rxdHJRwDNY,0.0,0.0,0.0,6339380.0

In [4]:
data.dtypes

DATE_TIME       object
PLANT_ID         int64
SOURCE_KEY      object
DC_POWER       float64
AC_POWER       float64
DAILY_YIELD    float64
TOTAL_YIELD    float64
dtype: object

In [5]:
data['DATE'] = pd.to_datetime(data['DATE_TIME']).dt.date
data['TIME'] = pd.to_datetime(data['DATE_TIME']).dt.time

In [6]:
data.head(3881)

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,DATE,TIME
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0,2020-05-15,00:00:00
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0,2020-05-15,00:00:00
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0,2020-05-15,00:00:00
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0,2020-05-15,00:00:00
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0,2020-05-15,00:00:00
...,...,...,...,...,...,...,...,...,...
3876,16-05-2020 23:45,4135001,adLQvlD726eNBSB,0.0,0.0,6705.0,6284443.0,2020-05-16,23:45:00
3877,16-05-2020 23:45,4135001,bvBOhCH3iADSZry,0.0,0.0,3069.0,6328648.0,2020-05-16,23:45:00
3878,16-05-2020 23:45,4135001,iCRJl6heRkivqQ3,0.0,0.0,6438.0,7190848.0,2020-05-16,23:45:00
3879,16-05-2020 23:45,4135001,ih0vzX44oOqAx2f,0.0,0.0,6450.0,6197810.0,2020-05-16,23:45:00
3880,16-05-2020 23:45,4135001,pkci93gMrogZuBj,0.0,0.0,6173.0,7181650.0,2020-05-16,23:45:00

In [7]:
data2 = data[data['TIME'].astype(str) == '23:45:00']
data2.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,DATE,TIME
3866,16-05-2020 23:45,4135001,1BY6WEcLGh8j5v7,0.0,0.0,6292.000000,6271605.0,2020-05-16,23:45:00
3867,16-05-2020 23:45,4135001,1IF53ai7Xc0U56Y,0.0,0.0,5768.000000,6196594.0,2020-05-16,23:45:00
3868,16-05-2020 23:45,4135001,3PZuoBAID5Wc2HD,0.0,0.0,6656.000000,7000689.0,2020-05-16,23:45:00
3869,16-05-2020 23:45,4135001,7JYdWkrLSPkdwr4,0.0,0.0,6461.000000,7615537.0,2020-05-16,23:45:00
3870,16-05-2020 23:45,4135001,McdE0feGgRqW7Ca,0.0,0.0,4704.285714,7172021.0,2020-05-16,23:45:00